//GLOBAL
body{
    background: #f7f7f7;
}

//COLORS
$colorPrimary : #FF6D1F;
$colorWhite : #ffffff;
$colorGray : #A9A9A9;

//VALUES
$cardBorderRadius : 25px;

//DESKTOP NAVIGATION
.site-header{
    position: relative;
    width: 100%;
    background: $colorPrimary;
    .header-message-container{
        position: relative;
        width: 100%;
        height: 1cm;
        background: rgba(0, 0, 0, 0.1);
    }
    .navigation-container{
        position: relative;
        width: 100%;
        .navigation-desktop{
            position: relative;
            display: flex;
            padding-top: 20px;
            width: 80%;
            margin: 0 auto;
            //background: green;
            align-items: center;
            .navigation-desktop-logo-container{
                position: relative;
                .navigation-desktop-logo-link{
                    position: relative;
                    display: block;
                    padding-top: 0px;
                    .navigation-desktop-logo-image{
                        position: relative;
                        width: 3cm;
                        margin-bottom: 5px;
                    }
                }
            }
            .navigation-desktop-left-container{
                position: relative;
                display: flex;
                align-self: center;
                width: 50%;
                margin-top: -20px;
                //background: purple;
                ul{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding: unset;
                    margin: unset;
                    //background: yellow;
                    li{
                        position: relative;
                        display: flex;
                        margin-right: 20px;
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 0.8em;
                            font-weight: 500;
                        }
                    }
                    li::after{
                        margin-top: -3px;
                        margin-left: 3px;
                        align-self: flex-end;
                        content: url(../icon/chveron-down.svg);
                        width: 8px;
                    }
                }
            }
            .navigation-desktop-right-container{
                position: relative;
                display: flex;
                align-self: center;
                width: 50%;
                margin-top: -20px;
                //background: purple;
                ul{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding: unset;
                    margin: unset;
                    margin-left: auto;
                    //background: yellow;

                    li{
                        margin-right: 20px;
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 0.8em;
                            font-weight: 500;

                        }
                    }
                }
            }
        }
    }
}

//PRODUCT ORDERING
.woocommerce-ordering{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px solid $colorGray;
    border-radius: 1000px;
    padding: 5px 10px;
    .orderby{
        background: unset;
        border: unset;
        outline: none;
        width: auto;
        color: $colorGray;
        margin-right: 5px;
        font-size: 0.7em;
        margin-bottom: 4px;
    }
}

.woocommerce-ordering::before{
    content: "Set to: ";
    display: inline-block;
    margin-left: 10px;
    font-size: 0.7em;
}

//woocommerce-result-count
.woocommerce-result-count{
    font-size: 0.8em;
    margin-bottom: 1cm;
}

//PRODUCT LOOP
.pweza-product-container{
    position: relative;
    width: 100%;
    .pweza-product{
        position: relative;
        width: 100%;
        border-radius: $cardBorderRadius;
        background: white;
        .pweza-product-header-container{
            position: relative;
            width: 100%;
            height: 6cm;
            overflow: hidden;
            border-top-left-radius: $cardBorderRadius;
            border-top-right-radius: $cardBorderRadius;
            .pweza-product-badge-container{
                position: absolute;
                left: 0px;
                width: 100%;
                z-index: 2;
                .pweza-product-badge{
                    position: relative;
                    width: 100%;
                    height: 30px;
                    background: red;
                    transform:translate(-38%,45%) rotate(-40deg);
                    p{
                        position: absolute;
                        color: white;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 0.7em;
                        line-height: 1em;
                        font-weight: 900;
                        margin: 0;
                        padding: 0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                .sale{
                    background: $colorPrimary;
                }
                .out-of-stock{
                    p{
                        font-size: 0.6em !important;
                    }
                }
                .on-backorder{
                    p{
                        font-size: 0.6em !important;
                    }
                }
            }
            .pweza-product-header{
                position: relative;
                width: 100%;
                height: 100%;
                .pweza-product-header-link{
                    position: relative;
                    display: block;
                    width: inherit;
                    height: inherit;
                    .pweza-product-image-gradient{
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 35%;
                        bottom: 0px;
                        background: linear-gradient(180deg, rgba(0, 0, 0, 1), #FFFFFF 100%);
                        mix-blend-mode: screen;
                    }
                    .pweza-product-image{
                        // opacity: 0.2;
                    }
                }
            }

        }
        .pweza-product-body-container{
            position: relative;
            width: 100%;
            .pweza-product-wishlist-container{
                position: absolute;
                align-items: center;
                top: -5.7cm;
                right: 10px;
                width: 1cm;
                height: 1cm;
                border-radius: 100px;
                overflow: hidden;
                //background: white;
                .pweza-product-wishlist{
                    position: relative;
                    margin-top: -2px;
                    a{
                        padding-left: 11px;
                        .fa-heart{
                            color: $colorPrimary !important;
                        }
                        .fa-heart-o{
                            color: $colorGray !important;
                        }
                    }
                    a:visited{
                        color: unset;
                    }
                    a:deleted{
                        color: unset;
                    }
                    .feedback{
                        content: "";
                    }
                    .a-heart{
                        color: $colorPrimary !important;
                    }
                }
            }
            .pweza-product-body{
                position: relative;
                .pweza-product-link{
                    position: relative;
                    display: block;
                    width: 100%;
                    outline: unset;
                    color: unset;
                    padding:0 25px;
                    padding-top: 20px;
                }
                .pweza-product-rating{
                    position: relative;
                    display: flex;
                    .pweza-product-rating-stars{
                        position: relative;
                        display: flex;
                        .pweza-product-rating-star{
                            width: 13px;
                            margin-right: 2px;
                        }
                    }
                    .pweza-product-rating-numbers{
                        position: relative;
                        display: flex;
                        p{
                            margin: unset;
                            padding: unset;
                            font-size: 0.8em;
                            margin-left: 5px;
                            color: $colorGray;
                        }
                    }
                }
                .pweza-product-name{
                    font-size: 1.1em;
                    font-weight: 800;
                    margin: unset;
                    padding: unset;
                    color: black;
                }
                .pweza-product-prices{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 2px;
                    p{
                        white-space: nowrap;
                        padding: unset;
                        margin: unset;
                    }
                    .pweza-product-price-full{
                        font-weight: 900;
                        font-size: 0.85em;
                        margin-right: 1em;
                        color: $colorPrimary;
                    }
                    .pweza-product-price-slash{
                        font-size: 0.85em;
                        color: $colorGray;
                        text-decoration: line-through;
                    }
                }
                .pweza-product-add-to-cart{
                    position: relative;
                    padding: 0 25px;
                    margin-top: 10px;
                    padding-bottom: 30px;
                    a{
                        display: block;
                        position: relative;
                        align-items: center;
                        width: 100%;
                        height: 1cm;
                        border: 1.5px solid $colorPrimary;
                        padding: 0;
                        padding-top: 10px;
                        color: $colorPrimary;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 0.7em;
                        font-weight: 900;
                    }
                    .added_to_cart{
                        border: 0px;
                        color: $colorGray !important;
                    }
                }
            }
        }
    }
}

//PAGNIATION
.woocommerce-pagination{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    .page-numbers{
        position: relative;
        display: flex;
        list-style-type: unset;
        padding: unset;
        margin: unset;
        margin: 0 auto;
        li{
            position: relative;
            display: flex;
            align-items: center;
            width: 1cm;
            height: 1cm;
            //border: 1px solid red;
            .current{
                color: $colorPrimary;
                cursor: default;
            }
            a{
                position: relative;
                display: block;
                margin: auto;
                color: $colorGray;
                width: 90%;
                height: 90%;
                text-align: center;
                padding-top: 5px;
            }
        }
    }
}