body {
  background: #f7f7f7;
}

.site-header {
  position: relative;
  width: 100%;
  background: #FF6D1F;
}
.site-header .header-message-container {
  position: relative;
  width: 100%;
  height: 1cm;
  background: rgba(0, 0, 0, 0.1);
}
.site-header .navigation-container {
  position: relative;
  width: 100%;
}
.site-header .navigation-container .navigation-desktop {
  position: relative;
  display: flex;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-logo-container {
  position: relative;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-logo-container .navigation-desktop-logo-link {
  position: relative;
  display: block;
  padding-top: 0px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-logo-container .navigation-desktop-logo-link .navigation-desktop-logo-image {
  position: relative;
  width: 3cm;
  margin-bottom: 5px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-left-container {
  position: relative;
  display: flex;
  align-self: center;
  width: 50%;
  margin-top: -20px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-left-container ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: unset;
  margin: unset;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-left-container ul li {
  position: relative;
  display: flex;
  margin-right: 20px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-left-container ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-left-container ul li::after {
  margin-top: -3px;
  margin-left: 3px;
  align-self: flex-end;
  content: url(../icon/chveron-down.svg);
  width: 8px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-right-container {
  position: relative;
  display: flex;
  align-self: center;
  width: 50%;
  margin-top: -20px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-right-container ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: unset;
  margin: unset;
  margin-left: auto;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-right-container ul li {
  margin-right: 20px;
}
.site-header .navigation-container .navigation-desktop .navigation-desktop-right-container ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}

.woocommerce-ordering {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 2px solid #A9A9A9;
  border-radius: 1000px;
  padding: 5px 10px;
}
.woocommerce-ordering .orderby {
  background: unset;
  border: unset;
  outline: none;
  width: auto;
  color: #A9A9A9;
  margin-right: 5px;
  font-size: 0.7em;
  margin-bottom: 4px;
}

.woocommerce-ordering::before {
  content: "Set to: ";
  display: inline-block;
  margin-left: 10px;
  font-size: 0.7em;
}

.woocommerce-result-count {
  font-size: 0.8em;
  margin-bottom: 1cm;
}

.pweza-product-container {
  position: relative;
  width: 100%;
}
.pweza-product-container .pweza-product {
  position: relative;
  width: 100%;
  border-radius: 25px;
  background: white;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product {
    display: flex;
    flex-direction: row;
    border-radius: 12.5px;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }
}
.pweza-product-container .pweza-product .pweza-product-header-container {
  position: relative;
  width: 100%;
  height: 6cm;
  overflow: hidden;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-header-container {
    height: 3cm;
    width: 5cm;
    border-top-right-radius: 0;
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-header-container {
    width: 100%;
    height: 6cm;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
  }
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge {
  position: relative;
  width: 100%;
  height: 30px;
  background: red;
  transform: translate(-38%, 45%) rotate(-40deg);
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge {
    transform: scale(0.75) translate(-45%, 20%) rotate(-40deg);
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge {
    transform: translate(-38%, 45%) rotate(-40deg);
  }
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge p {
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  line-height: 1em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .sale {
  background: #FF6D1F;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .out-of-stock p {
  font-size: 0.6em !important;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .on-backorder p {
  font-size: 0.6em !important;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header {
  position: relative;
  height: 100%;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link .pweza-product-image-gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 35%;
  bottom: 0px;
  background: linear-gradient(180deg, rgb(0, 0, 0), #FFFFFF 100%);
  mix-blend-mode: screen;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link .pweza-product-image-gradient {
    display: none;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link .pweza-product-image-gradient {
    display: block;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container {
  position: relative;
  width: 100%;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container {
    height: 3cm;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container {
    width: 100%;
    height: unset;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container {
  position: absolute;
  align-items: center;
  z-index: 100;
  width: 1cm;
  height: 1cm;
  border-radius: 100px;
  overflow: hidden;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container {
    top: 5px;
    right: 5px;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container {
    top: -5.8cm;
    right: 10px;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist {
  position: relative;
  margin-top: -2px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a {
  padding-left: 11px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a .fa-heart {
  color: #FF6D1F !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a .fa-heart-o {
  color: #A9A9A9 !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a:visited {
  color: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a:deleted {
  color: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist .feedback {
  content: "";
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist .a-heart {
  color: #FF6D1F !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body {
  position: relative;
  height: 100%;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body {
    height: unset;
    display: unset;
    padding-top: 20px;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-link {
  position: relative;
  display: block;
  width: 100%;
  outline: unset;
  color: unset;
  padding: 0 25px;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-link {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    margin: auto;
    height: 100%;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-link {
    height: unset;
    padding: 0 25px;
    padding-top: 20px;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating {
  position: relative;
  display: flex;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating {
    margin-top: auto;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating {
    margin-top: unset;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-stars {
  position: relative;
  display: flex;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-stars .pweza-product-rating-star {
  width: 13px;
  margin-right: 2px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-numbers {
  position: relative;
  display: flex;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-numbers p {
  margin: unset;
  padding: unset;
  font-size: 0.8em;
  margin-left: 5px;
  color: #A9A9A9;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-name {
  font-size: 1.1em;
  font-weight: 800;
  margin: unset;
  padding: unset;
  color: black;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-name {
    font-weight: 800;
    font-size: 0.9em;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-name {
    font-weight: 800;
    font-size: 1.1em;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices {
    margin-bottom: auto;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices {
    margin-bottom: unset;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices p {
  white-space: nowrap;
  padding: unset;
  margin: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices .pweza-product-price-full {
  font-weight: 900;
  font-size: 0.85em;
  margin-right: 1em;
  color: #FF6D1F;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices .pweza-product-price-slash {
  font-size: 0.85em;
  color: #A9A9A9;
  text-decoration: line-through;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart {
  position: relative;
  padding: 0 25px;
  margin-top: 10px;
  padding-bottom: 30px;
}
@media (min-width: 0px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart {
    display: none;
  }
}
@media (min-width: 526px) {
  .pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart {
    display: block;
  }
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart a {
  display: block;
  position: relative;
  align-items: center;
  width: 100%;
  height: 1cm;
  border: 1.5px solid #FF6D1F;
  padding: 0;
  padding-top: 10px;
  color: #FF6D1F;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 900;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart .added_to_cart {
  border: 0px;
  color: #A9A9A9 !important;
}

.woocommerce-pagination {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.woocommerce-pagination .page-numbers {
  position: relative;
  display: flex;
  list-style-type: unset;
  padding: unset;
  margin: unset;
  margin: 0 auto;
}
.woocommerce-pagination .page-numbers li {
  position: relative;
  display: flex;
  align-items: center;
  width: 1cm;
  height: 1cm;
}
.woocommerce-pagination .page-numbers li .current {
  color: #FF6D1F;
  cursor: default;
}
.woocommerce-pagination .page-numbers li a {
  position: relative;
  display: block;
  margin: auto;
  color: #A9A9A9;
  width: 90%;
  height: 90%;
  text-align: center;
  padding-top: 5px;
}

.site-footer {
  position: relative;
  width: 100%;
  background-color: #FF6D1F;
  padding-top: 2cm;
  margin-bottom: -1cm;
}
.site-footer .footer-top-conainer {
  position: relative;
  width: 80%;
  margin: auto;
}
.site-footer .footer-top-conainer .footer-top {
  position: relative;
  display: flex;
  width: 100%;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left {
  position: relative;
  display: flex;
  width: 60%;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left .footer-item-header {
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  margin-top: 0;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left .footer-item {
  position: relative;
  width: 33%;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left .footer-item ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: -0.5cm;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left .footer-item ul li {
  position: relative;
}
.site-footer .footer-top-conainer .footer-top .footer-top-left .footer-item ul li a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right {
  position: relative;
  width: 40%;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search {
  position: relative;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form {
  position: relative;
  display: flex;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form label {
  position: relative;
  width: 80%;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form label .screen-reader-text {
  display: none;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form label .search-field {
  width: 98%;
  height: 1cm;
  background: none;
  padding-left: 10px;
  border: 2px solid white;
  color: white;
  outline: none;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form input {
  background: white;
  color: #FF6D1F;
  position: relative;
  width: 80px;
  font-size: 0.8em;
  cursor: pointer;
  border: 0;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form input::-moz-placeholder {
  color: white;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-search .search-form input::placeholder {
  color: white;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-links {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-links .footer-top-link-image {
  align-self: flex-start;
  margin-right: 10px;
  margin-top: 3px;
  width: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-links .footer-top-link-text {
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 0.7em;
}
.site-footer .footer-top-conainer .footer-top .footer-top-right .footer-top-links .footer-top-link-text a {
  text-decoration: none;
  color: unset;
  padding-bottom: 2px;
  border-bottom: 1px dotted white;
}
.site-footer .site-info {
  position: relative;
  padding-bottom: 2cm;
}
.site-footer .site-info .site-info-copyright {
  position: relative;
  margin-top: 2cm;
  padding-top: 0.5cm;
  border-top: 1px solid white;
}
.site-footer .site-info .site-info-copyright .site-info-copyright-text {
  text-align: center;
  color: white;
  font-size: 0.7em;
}/*# sourceMappingURL=pweza.css.map */