body {
  background: #f7f7f7;
}

.site-header {
  position: relative;
  width: 100%;
  background: #FF6D1F;
}
.site-header .header-message-container {
  position: relative;
  width: 100%;
  height: 1cm;
  background: rgba(0, 0, 0, 0.2);
}
.site-header .navigation-container {
  position: relative;
  width: 100%;
}
.site-header .navigation-container .navigation-desktop {
  position: relative;
  display: flex;
  width: 100%;
}

.woocommerce-ordering {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 2px solid #A9A9A9;
  border-radius: 1000px;
  padding: 5px 10px;
}
.woocommerce-ordering .orderby {
  background: unset;
  border: unset;
  outline: none;
  width: auto;
  color: #A9A9A9;
  margin-right: 5px;
  font-size: 0.7em;
  margin-bottom: 4px;
}

.woocommerce-ordering::before {
  content: "Set to: ";
  display: inline-block;
  margin-left: 10px;
  font-size: 0.7em;
}

.woocommerce-result-count {
  font-size: 0.8em;
  margin-bottom: 1cm;
}

.pweza-product-container {
  position: relative;
  width: 100%;
}
.pweza-product-container .pweza-product {
  position: relative;
  width: 100%;
  border-radius: 25px;
  background: white;
}
.pweza-product-container .pweza-product .pweza-product-header-container {
  position: relative;
  width: 100%;
  height: 6cm;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge {
  position: relative;
  width: 100%;
  height: 30px;
  background: red;
  transform: translate(-38%, 45%) rotate(-40deg);
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .pweza-product-badge p {
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  line-height: 1em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .sale {
  background: #FF6D1F;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .out-of-stock p {
  font-size: 0.6em !important;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-badge-container .on-backorder p {
  font-size: 0.6em !important;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header {
  position: relative;
  width: 100%;
  height: 100%;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;
}
.pweza-product-container .pweza-product .pweza-product-header-container .pweza-product-header .pweza-product-header-link .pweza-product-image-gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 35%;
  bottom: 0px;
  background: linear-gradient(180deg, rgb(0, 0, 0), #FFFFFF 100%);
  mix-blend-mode: screen;
}
.pweza-product-container .pweza-product .pweza-product-body-container {
  position: relative;
  width: 100%;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container {
  position: absolute;
  align-items: center;
  top: -5.7cm;
  right: 10px;
  width: 1cm;
  height: 1cm;
  border-radius: 100px;
  overflow: hidden;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist {
  position: relative;
  margin-top: -2px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a {
  padding-left: 11px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a .fa-heart {
  color: #FF6D1F !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a .fa-heart-o {
  color: #A9A9A9 !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a:visited {
  color: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist a:deleted {
  color: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist .feedback {
  content: "";
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-wishlist-container .pweza-product-wishlist .a-heart {
  color: #FF6D1F !important;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body {
  position: relative;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-link {
  position: relative;
  display: block;
  width: 100%;
  outline: unset;
  color: unset;
  padding: 0 25px;
  padding-top: 20px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating {
  position: relative;
  display: flex;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-stars {
  position: relative;
  display: flex;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-stars .pweza-product-rating-star {
  width: 13px;
  margin-right: 2px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-numbers {
  position: relative;
  display: flex;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-rating .pweza-product-rating-numbers p {
  margin: unset;
  padding: unset;
  font-size: 0.8em;
  margin-left: 5px;
  color: #A9A9A9;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-name {
  font-size: 1.1em;
  font-weight: 800;
  margin: unset;
  padding: unset;
  color: black;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices p {
  white-space: nowrap;
  padding: unset;
  margin: unset;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices .pweza-product-price-full {
  font-weight: 900;
  font-size: 0.85em;
  margin-right: 1em;
  color: #FF6D1F;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-prices .pweza-product-price-slash {
  font-size: 0.85em;
  color: #A9A9A9;
  text-decoration: line-through;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart {
  position: relative;
  padding: 0 25px;
  margin-top: 10px;
  padding-bottom: 30px;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart a {
  display: block;
  position: relative;
  align-items: center;
  width: 100%;
  height: 1cm;
  border: 1.5px solid #FF6D1F;
  padding: 0;
  padding-top: 10px;
  color: #FF6D1F;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 900;
}
.pweza-product-container .pweza-product .pweza-product-body-container .pweza-product-body .pweza-product-add-to-cart .added_to_cart {
  border: 0px;
  color: #A9A9A9 !important;
}

.woocommerce-pagination {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.woocommerce-pagination .page-numbers {
  position: relative;
  display: flex;
  list-style-type: unset;
  padding: unset;
  margin: unset;
  margin: 0 auto;
}
.woocommerce-pagination .page-numbers li {
  position: relative;
  display: flex;
  align-items: center;
  width: 1cm;
  height: 1cm;
}
.woocommerce-pagination .page-numbers li .current {
  color: #FF6D1F;
  cursor: default;
}
.woocommerce-pagination .page-numbers li a {
  position: relative;
  display: block;
  margin: auto;
  color: #A9A9A9;
  width: 90%;
  height: 90%;
  text-align: center;
  padding-top: 5px;
}/*# sourceMappingURL=pweza.css.map */